<h2 id='title'>Welcome to ember-mask-input</h2>

{{outlet}}

Simple IBAN masked input:
{{ember-mask-input maskType='iban' value='TR625373458726249832302425' }}
<br/>
Simple phone-no masked input:
{{ember-mask-input maskType='phone-no' value='2223334455' }}
<br/>
Simple credit-card masked input:
{{ember-mask-input maskType='credit-card' value='2222333344445555' }}
<br/>
Simple custom masked input:
{{ember-mask-input mask='0000.0000.0000.0000' value='9876987612341234' }}
<br/>
Actioned masked input:
{{ember-mask-input maskType='iban' value=myIban onUpdate=(action 'valueUpdated') }}
<br/>
Updated value: {{updatedValue}}
<br/>
classNames binding masked input:
{{ember-mask-input value='TR625373458726249832302426' maskType='iban' classNames='myclass' }}
<style>
  .myclass {
    width: 400px;
    font-weight: bold;
    font-style: italic;
  }
</style>